@font-face {
    font-family: fontos1;
    src: url(LEMONMILK-Bold.otf);
}

@font-face {
    font-family: fontos2;
    src: url(Klik-Light.otf);
}

@font-face {
    font-family: fontos;
    src: url("American Captain.ttf");
}

::-webkit-scrollbar{
    width: 5px;
}

body{
    width: 100%;
    background-color: #26282f;
    color: #fff;
    transition:  all ease-in-out 0.2s;
}

header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: fontos1;
    font-size: 25px;
}

.root{
    width: 800px;
    display: inline;
}

.app{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sectionA{
    width: 800px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-bottom: 0px;
    margin: 0px;
}

.inputTodo{
    width: 750px;
    padding: 5px 0px 5px 15px;
    border-radius: 0.1rem;
    margin: 0px;
    font-family: fontos2;
    background-color: #26282f;
    color: rgba(255, 255, 255, 0.769);
    border: 0px solid black;
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.inputTodo:focus, .inputTodo:focus{
    outline: none;
}

.addButton{
    width: 100px;
    font-family: fontos;
    font-size: 35px;
    background: -webkit-linear-gradient(#ff00ea ,#8400ff);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0vw 0vw 0vw 0vw;
    margin: 10px 15px 5px 0px;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
    text-align: center;
    float: right;
}

.sectionB{
    width: 800px;
    display: flex;
    flex-direction: column;
    font-family: fontos2;
    font-size: 25px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0px;
}

.categories{
    width: 100%;
}

.unDoneTab{
    cursor: pointer;
    font-family: fontos2;
    width: 50%;
    background-color: rgba(28, 28, 28, 0.67);
    color: #fff;
    font-size: 25px;
    border: 1px solid black;
    padding: 5px 0px 5px 0px;
}

.doneTab{
    cursor: pointer;
    font-family: fontos2;
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255, 0.5);
    font-size: 25px;
    border: 1px solid black;
    padding: 5px 0px 5px 0px;
}

.myList{
    display: flex;
    flex-direction: column;
    background-color: #26282f;
    height: 500px;
    overflow-y: scroll;

}

#style-2::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	
	background-color: #1d1d1d;
}

#style-2::-webkit-scrollbar{
	width: 12px;
    
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb{
	border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #9e9e9e;
}

.todo-container{
    border-top: 2px solid black;
    font-family: fontos2;
    font-size: 20px;
    height: 30px;
    padding: 15px 0px 15px 10px;
    margin-bottom: 10px;
 
}

.todoText{
    overflow-x: scroll;
}

.actionButton{
    float: right;
    font-family: fontos2;


}

.removeButton{
    cursor: pointer;
    height: max-content;
    margin-right: 5px;

    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    font-size: 15px;
}

.removeButton:hover{
    background-color: rgb(230, 100, 100);
    border: 1px solid rgb(230, 100, 100);
}

.doneButton{
    cursor: pointer;
    height: max-content;
    margin-right: 5px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    font-size: 15px;
}

.doneButton:hover{
    background-color: rgb(144, 224, 144);
    border: 1px solid rgb(100, 230, 100);
}

.toggleButton{
    font-family: fontos2;
    width: 100%;
    background-color: fff;
    color: black;
    font-size: 20px;
}
